@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-manrope: Manrope, sans-serif;
  --font-inter: Inter, sans-serif;
  --color-logo: #2563eb;
  --color-navlist: #64748b;
  --color-header: #001849;
  --bg-bob: #dae1ff;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@layer components {
  body {
    @apply font-inter bg-white;
  }
}
