@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-manrope: Manrope, sans-serif;
  --font-inter: Inter, sans-serif;
  --color-logo: #2563eb;
  --color-placeholder: #94a3b8;
  --color-placeholdtwo: #6b7280;
  --color-secondary: #f8fafc;
  --color-icon: #64748b;
  --color-line: #e2e8f0;
  --shadow-avatar: 0px 1px 2px 0px #0000000d;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@layer components {
  body {
    @apply font-inter bg-white;
  }
}
